

/* Home page CSS*/

body {
		background-color: rgb(3, 3, 3);
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

.wrapper {
	width: 100%; 
}


ul#homePage {
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding-left: 0;
	
	
}

ul#homePage li{
	width: 100%;
	height: 100%;
	
	align-content: center;
	
}


ul.horizontal-list {

	display: inline;
	padding-left: 1%;
	border-radius: 10px;
	align-self:center;
	height: 70px;
		
	
	
} 

ul.horizontal-list li {
	
	display: inline;
	font-size: 50px;
	font-family: rockwell;
	background-color:#004466;
	height: 70px;
	padding-left: 3%;
	padding-right: 3%;
	
	
	
		
}

li#firstItem {
	border-radius: 10px 0 0 10px;
}

li#lastItem {
	border-radius: 0 10px 10px 0;
}



nav.wrapper {
	
	width: 1850px;
	height: 70px;
	margin-left: 25px;
	background-color:#006699;
	box-shadow: 5px 5px 5px #828282;
	padding: 0;	
}

a.horizontalList {

	text-decoration: none;
	color:white;


}
	
a {
	text-decoration: none;
}
main.wrapper {

	display: inline-block;
	width: 1850px;
	height: 800px;
	box-shadow: 5px 0px 5px #828282;
	background-color: #1ab2ff;
	margin-left: 25px;
	padding: 0;

	text-align: left;

}


	
h1 {
	font-size: 250px;
  	font-family: 'Brush Script MT', cursive;
 	margin: 0;
    text-align: center;
}


p.techie {
	font-family: arial; 
	font-size: 30px; 
 	font-family: 'Courier New', monospace;
 	color: green;
 	background-color: black;
	padding-right: 30%;
	text-align: center; 

	
}

img#profilePic {
	border-radius: 50%;
	height: 350px;
	width: 310px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	
	
	
}


h2 {
	font-size: 40px;
	padding: 0;
	padding-left: 5%;
	color: darkgray;
	font-family: Tahoma;
	margin-bottom: 0;
	margin-top: 0;
}



ul#linksToProjects{
	height: 75px;
	padding-bottom: 50px;
	padding-left: 150px;
}

i{
	text-shadow:2px 2px 4px #000000;
	color: white;
	align-content: center;
}



footer {
	background-color: #006699;
	height: 150px;
	margin-left: 25px;
	width: 1850px;
	box-shadow: 5px 5px 5px #828282;
	
}


/* Animations starts here */

i.iconAnimation:hover {
	color: gray;
}

a.animate:hover {
	color: gray;
}

img.increaseSize:hover{
	transform: scale(1.15);
}

/* end of home page CSS */


/* background page starts here ***********************************/

div#beginnings{
	height: auto;
	width: 1850px;
	text-align: center;

	
}

p#moving {
				
	
	font-size: 110px;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	
	
	
	
}

p#note{
	
	font-size: 30px;
	width: 30%;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	background-color: #ffff99;
	font-family: Georgia, serif;
	border: 4px solid black;
	
}

h2.green {
	color: blue;
	font-size: 40px;
	padding-left: 0;
	margin: 0;
}

table {

	width: 70%;
	padding-left: 5%;
	border-collapse:collapse;
	border-spacing: 0 10px;
	margin: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 4px solid black;
	
}



td {

	font-size: 25px;
	padding-left: 5%;
	height: 200px;
	width: 50%;
	align-content: center;
	border: 4px solid black;
	text-align: justify;
	background-color: #ffff99;
	padding-left: auto;
	padding-right: 20px;
	font-family: Georgia, serif;
	
}

img#grad {

	width: 500px;
	height: 220px;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: auto;
	padding: 0;
}



.darkerBlue{
	background-color: #0099ff;
}


/* background page ends here ***********************************/


/* experience page starts here *****************************/



table.expPage {

	width: 85%;
	padding-left: 5%;
	border-collapse: separate;
	border-spacing: 0 10px;
	margin: 0;
	

}

td.expPage {

	font-size: 30px;
	padding-left: 5%;
	height: 300px;
	width: 50%;
	
}